.example-spacer {
    flex: 1 1 auto;
  }

  .mat-toolbar {
    background-color: #E7B10A;
  }

  .main-body{
    padding: 20px 20px 0px;
    margin: 0 auto;
    max-width: 1248px;

    mat-form-field{
        width: 200px;
    }
  }